{% if page.show_banner -%}
<!--{% assign fl_url = '/jobs/infrastructure' -%}-->
{% assign fl_url = '/create' -%}
<div class="site-banner site-banner--default" role="alert">
    {% comment %} For headings use <h3> elements. {% endcomment -%}
    Flutter 1.9 발표!
    <a href="https://developers.googleblog.com/2019/09/flutter-news-from-gdd-china-flutter1.9.html?m=1"
       target="_blank">GDD China에서 Flutter 뉴스</a>를 확인해보세요.<br>
    <a href="/docs#latest-release">이 사이트의 새로운 기능</a>과
    새롭게 개편된
    <a href="/showcase">쇼케이스</a> 페이지도 확인해보세요.
    <br/>
</div>
{% endif -%}
